/* App */
.App{
    height: 100vh;
    
}

/* Quikly Center Everything In Div */


/* Container Styling */
.Container{
    position: relative; 
    width: 75%;
    height: 60%;
    border: 0.1em solid #6c7ae0;
    border-radius: 0.5em;
    background-color: white;
}

/* Banner Side of Container */
.banner-side{
    position: absolute;
    z-index: 2;
    right: 65%;
    width: 35%;
    height: 100%;
    flex-direction: column;
    background-color: #6c7ae0;
    opacity: 1;
    color: #EEFCF8;
    text-align: center;
    transition: 1s;
}

/* Form Side of Container */
.form-side{
    position: absolute;
    z-index: 1;
    right: 0;
    border-radius: 0.5em;
    width: 65%;
    height: 100%;
    opacity: 1;
    font-weight: bold;
    color: #6c7ae0;
    transition: 1s;
}
.form-enterprise{
    display: flex;
    flex-direction: column;
    align-items: self-end;
}
.send-right{
    right: 0;
    border-radius: 0em 0.5em 0.5em 0em;
}
.container-inventory{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-left{
    right: 35%;
    border-radius:0.5em 0em  0em 0.5em ;

}

::-webkit-scrollbar {
    width: 5px;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #6c7ae0; 
  }
  
  /* Handle on hover */

/* Layout styling of forms, labels, inputs */
.form-comp{
    flex-direction: column;
}

.sign-up-form{
    width: 50%;
    flex-direction: column;
}

.sign-up-form > label{
    padding: 0.5em;
    width: 100%
}

.sign-up-form > label > input{
    width: 100%
}

.enterprise-list-container{
    height: inherit;
    width: 100%;
}
thead {
    background-color: #6c7ae0;
    color: white;
    border-radius: 0px 0.5em 0px 0px;
}
th {
    padding: 20px;
}
td{
    padding: 20px;
    border-top: 1px solid #6c7ae0 ;
    background-color: #C4D3F6 !important;
}
table {
    width: 100% ;

}
